In [84]:
import pandas as pd
import mysql.connector as mysql
db=mysql.connect(
    host="localhost",
    user="seenu",
    password="Travel123",
    )
cursor=db.cursor()
#cursor.execute("create database if not exists banksight")
print
import json

In [85]:
customer=pd.read_csv('C:\\Users\\seenulocal\\OneDrive\\Documents\\AIML\\BankSight\\Customers.csv')
accounts=pd.read_csv('C:\\Users\\seenulocal\\OneDrive\\Documents\\AIML\\BankSight\\Accounts.csv')
transactions=pd.read_csv('C:\\Users\\seenulocal\\OneDrive\\Documents\\AIML\\BankSight\\Transactions.csv')
branches=pd.read_csv('C:\\Users\\seenulocal\\OneDrive\\Documents\\AIML\\BankSight\\Branches.csv')
loans=pd.read_csv('C:\\Users\\seenulocal\\OneDrive\\Documents\\AIML\\BankSight\\Loans.csv') 
support_tickets=pd.read_csv('C:\\Users\\seenulocal\\OneDrive\\Documents\\AIML\\BankSight\\support_tickets.csv')
credit_cards=pd.read_json('C:\\Users\\seenulocal\\OneDrive\\Documents\\AIML\\BankSight\\credit_cards.json')

In [7]:
customer.head()

,customer_id,name,gender,age,city,account_type,join_date
0,C0001,Richard Wilson,M,65,Kimberlyburgh,Savings,2023-08-27
1,C0002,Holly Parker,F,41,Port David,Current,2023-12-08
2,C0003,Megan Alvarez,M,46,West Laurieton,Savings,2022-05-25
3,C0004,Nicholas Stewart,F,39,Amyville,Current,2020-11-30
4,C0005,Douglas Anderson,M,70,New Craigport,Current,2023-01-29

In [10]:
customer.isnull().sum()

customer_id     0
name            0
gender          0
age             0
city            0
account_type    0
join_date       0
dtype: int64

In [1]:
import mysql.connector as mysql
db=mysql.connect(
    host="localhost",
    user="seenu",
    password="Travel123",
    )
cursor=db.cursor()
#cursor.execute("create database if not exists banksight")

In [39]:
cursor.execute("USE banksight")
cursor.execute("""    
CREATE TABLE IF NOT EXISTS customers (
    customer_id VARCHAR(10) PRIMARY KEY,
    name VARCHAR(50),
    gender CHAR(1),
    age INT,
    city VARCHAR(50),
    account_type VARCHAR(10),
    join_date DATE
)
""")

In [18]:
accounts.columns

Index(['customer_id', 'account_balance', 'last_updated'], dtype='object')

In [7]:
cursor.execute("USE banksight")
for i, row in customer.iterrows():
    sql = "INSERT INTO customers (customer_id,name,gender,age,city,account_type,join_date) VALUES (%s,%s,%s,%s,%s,%s,%s)"
    rows = (
        row['customer_id'],
        row['name'],
        row['gender'],
        row['age'],
        row['city'],
        row['account_type'],
        row['join_date']
    )
    cursor.execute(sql, rows)

db.commit()

In [ ]:
for row in customer.itertuples(index=False, name=None):
    print(row)

In [11]:
accounts.head(2)

  customer_id  account_balance         last_updated
0       C0001        293729.87  2025-05-24 09:46:29
1       C0002        150735.15  2025-05-24 09:46:29

In [39]:
cursor.execute("USE banksight")
cursor.execute("""    
CREATE TABLE IF NOT EXISTS accounts (
    customer_id	 VARCHAR(10),
    account_balance DECIMAL(12,2),
    last_updated DATETIME,

    CONSTRAINT fk_accounts_customers
        FOREIGN KEY (customer_id)
        REFERENCES customers(customer_id)
        ON DELETE RESTRICT
        ON UPDATE CASCADE
)
""")

In [40]:
sql=("INSERT INTO accounts (customer_id,account_balance,last_updated) VALUES (%s,%s,%s)")            
data=list(accounts.itertuples(index=False, name=None))
cursor.executemany(sql, data)
db.commit()

In [ ]:
cursor.execute("USE banksight")
cursor.execute("select * from accounts")
for row in cursor.fetchall():
    print(row)

In [12]:
accounts.isnull().sum()

customer_id        0
account_balance    0
last_updated       0
dtype: int64

In [33]:
transactions.columns

Index(['txn_id', 'customer_id', 'txn_type', 'amount', 'txn_time', 'status'], dtype='object')

In [42]:
cursor.execute("USE banksight")
cursor.execute("""    
CREATE TABLE IF NOT EXISTS transactions (
    txn_id	 VARCHAR(10) PRIMARY KEY,
    customer_id	 VARCHAR(10),
    txn_type VARCHAR(15),
    amount DECIMAL(12,2),
    txn_time DATETIME,
    status VARCHAR(10),
    
        CONSTRAINT fk_transactions_customers
        FOREIGN KEY (customer_id)
        REFERENCES customers(customer_id)
        ON DELETE RESTRICT
        ON UPDATE CASCADE
)
""")

In [43]:
sql=("INSERT INTO transactions (txn_id,customer_id,txn_type,amount,txn_time,status) VALUES (%s,%s,%s,%s,%s,%s)")            
data=list(transactions.itertuples(index=False, name=None))
cursor.executemany(sql, data)
db.commit()

In [ ]:
transactions.isnull().sum()

In [14]:
branches.isnull().sum()

Branch_ID             0
Branch_Name           0
City                  0
Manager_Name          0
Total_Employees       0
Branch_Revenue        0
Opening_Date          0
Performance_Rating    0
dtype: int64

In [ ]:
loans.isnull().sum()

In [44]:
loans.columns

Index(['Loan_ID', 'Customer_ID', 'Account_ID', 'Branch', 'Loan_Type',
       'Loan_Amount', 'Interest_Rate', 'Loan_Term_Months', 'Start_Date',
       'End_Date', 'Loan_Status'],
      dtype='object')

In [66]:
cursor.execute("USE banksight")
cursor.execute("""    
CREATE TABLE IF NOT EXISTS loans (
    Loan_ID	 INT PRIMARY KEY,
    Customer_ID	 INT,
    Account_ID INT,
    Branch VARCHAR(50),   
    Loan_Type VARCHAR(20),
    Loan_Amount INT,
    Interest_Rate DECIMAL(5,2),
    Loan_Term_Months INT,
    Start_Date DATE,
    End_Date DATE,
    Loan_Status VARCHAR(15)
   
)
""")

In [61]:
loans.head(2)

,Loan_ID,Customer_ID,Account_ID,Branch,Loan_Type,Loan_Amount,Interest_Rate,Loan_Term_Months,Start_Date,End_Date,Loan_Status
0,1,1559,2090,Perez Ltd Branch,Personal,259805,12.43,60,2017-07-03,2022-06-07,Active
1,2,1028,2575,Harris-Marshall Branch,Business,3589336,6.75,24,2017-06-14,2019-06-04,Active

In [67]:
cursor.execute("USE banksight")
sql=("INSERT INTO loans (Loan_ID,Customer_ID,Account_ID,Branch,Loan_Type,Loan_Amount,Interest_Rate,Loan_Term_Months,Start_Date,End_Date,Loan_Status) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)")            
data=list(loans.itertuples(index=False, name=None))
cursor.executemany(sql,data)
db.commit()

In [63]:
data=list(loans.itertuples(index=False, name=None))
print(data[-1])

(553, 1092, 2255, 'Stewart, Wilson and Dalton Branch', 'Personal', 402265, 11.15, 240, '2022-09-20', '2042-06-07', 'Active')

In [46]:
credit_cards.columns

Index(['Card_ID', 'Customer_ID', 'Account_ID', 'Branch', 'Card_Number',
       'Card_Type', 'Card_Network', 'Credit_Limit', 'Current_Balance',
       'Issued_Date', 'Expiry_Date', 'Status'],
      dtype='object')

In [68]:
cursor.execute("USE banksight")
cursor.execute("""    
CREATE TABLE IF NOT EXISTS credit_cards (
    Card_ID INT PRIMARY KEY,
    Customer_ID INT,
    Account_ID INT,
    Branch VARCHAR(50),
    Card_Number VARCHAR(16),
    Card_Type VARCHAR(10),
    Card_Network VARCHAR(10),
    Credit_Limit INT,
    Current_Balance DECIMAL(12,2),
    Issued_Date DATE,
    Expiry_Date DATE,
    Status VARCHAR(10)   

   
)
""")

In [69]:
cursor.execute("USE banksight")
sql=("INSERT INTO credit_cards (Card_ID,Customer_ID,Account_ID,Branch,Card_Number,Card_Type,Card_Network,Credit_Limit,Current_Balance,Issued_Date,Expiry_Date,Status) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)")            
data=list(credit_cards.itertuples(index=False, name=None))
cursor.executemany(sql,data)
db.commit()

In [48]:
branches.columns

Index(['Branch_ID', 'Branch_Name', 'City', 'Manager_Name', 'Total_Employees',
       'Branch_Revenue', 'Opening_Date', 'Performance_Rating'],
      dtype='object')

In [70]:
cursor.execute("USE banksight")
cursor.execute("""    
CREATE TABLE IF NOT EXISTS branches (
    Branch_ID INT PRIMARY KEY,
    Branch_Name VARCHAR(50),
    City VARCHAR(50),
    Manager_Name VARCHAR(50),
    Total_Employees INT,
    Branch_Revenue DECIMAL(15,2),
    Opening_Date DATE,
    Performance_Rating INT
 )
""")

In [71]:
cursor.execute("USE banksight")
sql=("INSERT INTO branches (Branch_ID,Branch_Name,City,Manager_Name,Total_Employees,Branch_Revenue,Opening_Date,Performance_Rating) VALUES (%s,%s,%s,%s,%s,%s,%s,%s)")            
data=list(branches.itertuples(index=False, name=None))
cursor.executemany(sql,data)
db.commit()

In [50]:
support_tickets.columns

Index(['Ticket_ID', 'Customer_ID', 'Account_ID', 'Loan_ID', 'Branch_Name',
       'Issue_Category', 'Description', 'Date_Opened', 'Date_Closed',
       'Priority', 'Status', 'Resolution_Remarks', 'Support_Agent', 'Channel',
       'Customer_Rating'],
      dtype='object')

In [76]:
cursor.execute("USE banksight")
cursor.execute("""    
CREATE TABLE IF NOT EXISTS support_tickets (
    Ticket_ID VARCHAR(50) PRIMARY KEY,
    Customer_ID VARCHAR(10),
    Account_ID VARCHAR(10),
    Loan_ID INT,
    Branch_Name VARCHAR(50),
    Issue_Category VARCHAR(50),
    Description VARCHAR(255),
    Date_Opened DATE,
    Date_Closed DATE,   
    Priority VARCHAR(15),
    Status VARCHAR(15),
    Resolution_Remarks VARCHAR(255),
    Support_agent VARCHAR(50),
    Channel VARCHAR(20),
    Customer_Rating INT
 )        
""")

In [10]:
cursor.execute("USE banksight")
sql=("INSERT INTO support_tickets (Ticket_ID,Customer_ID,Account_ID,Loan_ID,Branch_Name,Issue_Category,Description,Date_Opened,Date_Closed,Priority,Status,Resolution_Remarks,Support_agent,Channel,Customer_Rating) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)")            
data=list(support_tickets.itertuples(index=False, name=None))
cursor.executemany(sql,data)
db.commit()

In [ ]:
support_tickets.head(20)

In [73]:
support_tickets.columns

Index(['Ticket_ID', 'Customer_ID', 'Account_ID', 'Loan_ID', 'Branch_Name',
       'Issue_Category', 'Description', 'Date_Opened', 'Date_Closed',
       'Priority', 'Status', 'Resolution_Remarks', 'Support_Agent', 'Channel',
       'Customer_Rating'],
      dtype='object')

In [96]:
support_tickets.isnull().sum()

Ticket_ID             0
Customer_ID           0
Account_ID            0
Loan_ID               0
Branch_Name           0
Issue_Category        0
Description           0
Date_Opened           0
Date_Closed           0
Priority              0
Status                0
Resolution_Remarks    0
Support_Agent         0
Channel               0
Customer_Rating       0
dtype: int64

Questions to be Answered (SQL Queries & Analysis)
1️⃣CUSTOMER & ACCOUNT ANALYSIS
1. Q1: How many customers exist per city, and what is their average account
balance?
2. Q2: Which account type (Savings, Current, Loan, etc.) holds the highest total
balance?
3. Q3: Who are the top 10 customers by total account balance across all account
types?
4. Q4: Which customers opened accounts in 2023 with a balance above ₹1,00,000?
2️⃣TRANSACTION BEHAVIOR
5. Q5: What is the total transaction volume (sum of amounts) by transaction type?
6. Q6: How many failed transactions occurred for each transaction type?
7. Q7: What is the total number of transactions per transaction type?
8. Q8: Which accounts have 5 or more high-value transactions above ₹20,000?
3️⃣LOAN INSIGHTS
9. Q9: What is the average loan amount and interest rate by loan type (Personal,
Auto, Home, etc.)?
10.Q10: Which customers currently hold more than one active or approved loan?
11.Q11: Who are the top 5 customers with the highest outstanding (non-closed)
loan amounts?
4️⃣BRANCH & PERFORMANCE
12.Q12: What is the average loan amount per branch?
13.Q13: How many customers exist in each age group (e.g., 18–25, 26–35, etc.)?
5️⃣SUPPORT TICKETS & CUSTOMER EXPERIENCE
14.Q14: Which issue categories have the longest average resolution time?
15.Q15: Which support age

In [15]:
customer.columns

Index(['customer_id', 'name', 'gender', 'age', 'city', 'account_type',
       'join_date'],
      dtype='object')

In [ ]:
#1. Q1: How many customers exist per city, and what is their average account balance?
cursor.execute("USE banksight")
cursor.execute("""
select c.city, COUNT(c.Customer_id) AS customer_count, AVG(a.account_balance) AS Avg_Account_Balance
FROM Customers c
JOIN accounts a ON c.customer_id=a.customer_id
GROUP BY c.city
ORDER BY Avg_Account_Balance DESC;
""")
results=cursor.fetchall()
for row in results:
	print(row)

In [13]:
accounts.columns

Index(['customer_id', 'account_balance', 'last_updated'], dtype='object')

In [35]:
# Q2: Which account type (Savings, Current, Loan, etc.) holds the highest total
#balance?
cursor.execute("USE banksight")
cursor.execute("""
select c.account_type, SUM(a.account_balance) AS Total_account_balance
FROM Customers c
JOIN accounts a ON c.customer_id=a.customer_id
GROUP BY c.account_type
ORDER BY Total_account_balance DESC
LIMIT 1;
""")
results=cursor.fetchall()
for row in results:
	print(row)

('Savings', Decimal('61880483.18'))

In [38]:
customer.columns

Index(['customer_id', 'name', 'gender', 'age', 'city', 'account_type',
       'join_date'],
      dtype='object')

In [44]:
#Q3: Who are the top 10 customers by total account balance across all account
#types?
cursor.execute("USE banksight")
cursor.execute("""
select c.name, SUM(a.account_balance) AS Total_account_balance
FROM customers c
JOIN accounts a ON c.customer_id=a.customer_id
GROUP BY c.customer_id
ORDER BY Total_account_balance DESC
LIMIT 10;
""")
results=cursor.fetchall()
for row in results:
	print(row)

('Amy Nguyen', Decimal('498739.49'))
('Carolyn Higgins', Decimal('498317.41'))
('Lisa Russell', Decimal('497040.60'))
('Amber Williams', Decimal('494779.97'))
('Audrey Peck', Decimal('494699.91'))
('Alvin Compton', Decimal('484758.19'))
('Sharon Bennett DVM', Decimal('482746.37'))
('Denise Campbell', Decimal('481746.58'))
('Jeffrey Smith', Decimal('481568.14'))
('Ann Crosby', Decimal('479706.41'))

In [52]:
#Q4: Which customers opened accounts in 2023 with a balance above ₹1,00,000?
#TRANSACTION BEHAVIOR
cursor.execute("USE banksight")
cursor.execute("""
select c.name, SUM(a.account_balance) AS Total_account_balance
FROM Customers c
JOIN accounts a ON c.customer_id=a.customer_id
WHERE YEAR(c.join_date)=2023
GROUP BY c.customer_id
HAVING SUM(a.account_balance) > 100000
ORDER BY c.name;

""")
results=cursor.fetchall()
for row in results:
	print(row)

('Adam Jones', Decimal('133669.64'))
('Alex Beard', Decimal('189603.46'))
('Alvin Compton', Decimal('484758.19'))
('Andrea Austin', Decimal('407686.39'))
('Andrew Reynolds', Decimal('256045.37'))
('Anna Davis', Decimal('270828.26'))
('Anthony Maldonado', Decimal('195268.95'))
('Anthony Ross', Decimal('382344.40'))
('Audrey Peck', Decimal('494699.91'))
('Brendan Williams', Decimal('466807.80'))
('Bridget Skinner', Decimal('378621.40'))
('Bryan Garcia', Decimal('271793.12'))
('Caitlin Cook', Decimal('118509.40'))
('Caitlyn Sanchez', Decimal('192212.85'))
('Carl Sanchez', Decimal('337417.38'))
('Carol Bennett', Decimal('140162.80'))
('Chad Murphy', Decimal('455365.96'))
('Christina Carpenter', Decimal('300905.95'))
('Christine Garcia', Decimal('234417.59'))
('Christine Roberts', Decimal('302230.23'))
('Christopher Young', Decimal('132637.14'))
('Christy Phelps', Decimal('328217.32'))
('Crystal Mckenzie', Decimal('446110.04'))
('Crystal Rowe', Decimal('332405.80'))
('Daniel Butler PhD', Decimal('284738.57'))
('David Jones', Decimal('438399.69'))
('Dean Lowe', Decimal('306669.98'))
('Debra West', Decimal('387844.67'))
('Denise Campbell', Decimal('481746.58'))
('Dr. Raymond Myers', Decimal('162877.00'))
('Elijah Hall', Decimal('339256.18'))
('Emily Brooks', Decimal('454127.94'))
('Eric Hayes', Decimal('306393.49'))
('Erica Brooks', Decimal('174478.90'))
('Erica Morrison', Decimal('374537.21'))
('Evan Duarte', Decimal('218110.69'))
('Frank Ware', Decimal('314506.85'))
('George Bradshaw', Decimal('254377.75'))
('George Yates', Decimal('173260.96'))
('Gloria Abbott', Decimal('260784.50'))
('Greg Gomez', Decimal('251101.12'))
('Holly Parker', Decimal('150735.15'))
('Jacob Gray', Decimal('400322.59'))
('Jamie Johnson', Decimal('186619.55'))
('Janet Saunders', Decimal('434936.56'))
('Jasmine Cobb', Decimal('183200.64'))
('Jasmine Morris', Decimal('291736.90'))
('Jason Knox', Decimal('121237.65'))
('Jason Scott', Decimal('384430.35'))
('Jennifer Hodges', Decimal('447170.74'))
('Jennifer Smith', Decimal('311439.87'))
('Jesus Davenport', Decimal('345239.48'))
('Jo Rich', Decimal('400584.24'))
('John Neal', Decimal('311196.03'))
('John Novak', Decimal('155480.37'))
('Joseph Ruiz', Decimal('181962.29'))
('Joseph Walton Jr.', Decimal('414121.97'))
('Joshua Torres', Decimal('463830.98'))
('Juan Collier', Decimal('127822.30'))
('Julie Weeks', Decimal('134031.07'))
('Justin Rojas', Decimal('345672.67'))
('Kari Jones', Decimal('120793.55'))
('Katherine Hunt', Decimal('154577.68'))
('Kelly Kennedy', Decimal('430295.70'))
('Kelly Payne', Decimal('395960.11'))
('Krista Foster', Decimal('171161.96'))
('Kristen Henderson', Decimal('414405.41'))
('Krystal Chaney', Decimal('402963.00'))
('Laura Hicks', Decimal('267754.01'))
('Lauren Jones', Decimal('245514.98'))
('Leslie Mann', Decimal('362616.85'))
('Lisa Gilbert', Decimal('460904.51'))
('Lori Bautista', Decimal('195238.64'))
('Luke Bright', Decimal('100024.19'))
('Manuel Martinez', Decimal('465702.24'))
('Marie Gutierrez', Decimal('120550.85'))
('Matthew Tate', Decimal('265206.51'))
('Melissa Prince', Decimal('267971.33'))
('Michael Ford', Decimal('297398.16'))
('Michele Murphy', Decimal('346405.32'))
('Michelle Sanchez', Decimal('414975.83'))
('Mr. Jimmy Gonzales MD', Decimal('476044.52'))
('Mrs. Shelby Arroyo', Decimal('390939.51'))
('Natasha Arroyo', Decimal('338491.33'))
('Nicole Logan', Decimal('192239.13'))
('Pamela Harrison', Decimal('390868.90'))
('Pamela Weaver', Decimal('399767.09'))
('Patrick Stark', Decimal('193295.49'))
('Paul Willis', Decimal('182899.30'))
('Peter Bolton', Decimal('449800.93'))
('Randall Martin', Decimal('403952.94'))
('Rebecca Pratt', Decimal('257706.31'))
('Richard Wilson', Decimal('293729.87'))
('Rodney Anthony', Decimal('459052.69'))
('Rodney Cruz', Decimal('150039.17'))
('Ryan Jackson', Decimal('400751.68'))
('Ryan Smith', Decimal('221913.57'))
('Sara Hunt', Decimal('463859.25'))
('Sean Camacho', Decimal('113683.14'))
('Seth Stevens', Decimal('218886.73'))
('Shannon Adams', Decimal('388562.07'))
('Stefanie Houston', Decimal('369174.64'))
('Stephanie Smith', Decimal('350926.68'))
('Stephen Whitney', Decimal('292902.24'))
('Tara Ellis', Decimal('228279.43'))
('Tiffany Conner', Decimal('457722.14'))
('Tiffany Gomez', Decimal('385756.25'))
('Timothy Berry', Decimal('324125.30'))
('Tyler Buchanan', Decimal('216729.05'))
('Vanessa Reese', Decimal('206241.86'))
('Virginia Ayala', Decimal('294020.42'))
('William Jones', Decimal('185053.68'))
('Willie Murphy', Decimal('259207.96'))

In [55]:
# Q5: What is the total transaction volume (sum of amounts) by transaction type?
cursor.execute("USE banksight")
cursor.execute("""
select t.txn_type AS Transaction_Type, SUM(t.amount) AS Total_Transaction_Volume
FROM transactions t
GROUP BY Transaction_Type ;
""")
results=cursor.fetchall()
for row in results:
	print(row)

('deposit', Decimal('197574827.47'))
('withdrawal', Decimal('151387322.23'))
('transfer', Decimal('50592799.65'))
('online fraud', Decimal('23829502.21'))
('purchase', Decimal('73834033.60'))

In [56]:
#Q6: How many failed transactions occurred for each transaction type?
cursor.execute("USE banksight")
cursor.execute("""
select t.txn_type AS Transaction_Type, Count(t.status) 
FROM transactions t
WHERE t.status="Failed"
GROUP BY Transaction_Type ;
""")
results=cursor.fetchall()
for row in results:
	print(row)

('online fraud', 489)
('deposit', 433)
('withdrawal', 314)
('purchase', 167)
('transfer', 94)

In [60]:
#Q7: What is the total number of transactions per transaction type?
cursor.execute("USE banksight")
cursor.execute("""
select t.txn_type AS Transaction_Type, COUNT(t.txn_id) AS Total_Transaction_Type 
FROM transactions t
GROUP BY t.txn_type ;
""")
results=cursor.fetchall()
for row in results:
	print(row)

('deposit', 3921)
('withdrawal', 3065)
('transfer', 1012)
('online fraud', 489)
('purchase', 1513)

In [71]:
#Q8: Which accounts have 5 or more high-value transactions above ₹20,000?
#LOAN INSIGHTS
cursor.execute("USE banksight")
cursor.execute("""
select c.name,COUNT(t.txn_id) AS High_Value_Transaction_Count
FROM Customers c
JOIN transactions t ON c.customer_id=t.customer_id
WHERE t.amount > 20000
GROUP BY c.customer_id
HAVING COUNT(t.txn_id) >= 5
ORDER BY High_Value_Transaction_Count DESC;
""")
results=cursor.fetchall()
for row in results:
	print(row)

('Marissa Navarro', 32)
('Ryan Smith', 31)
('Caitlyn Sanchez', 27)
('Erin Johnson', 26)
('Frank Ware', 25)
('Jesse Smith', 25)
('Jason Ortiz', 25)
('Jennifer Flores', 25)
('Joseph Ruiz', 24)
('Christina Lee', 24)
('Michael Harding', 24)
('Lisa Gilbert', 24)
('Erica Howard', 24)
('Anthony Jordan', 24)
('Tammy Dennis', 24)
('James Hanna', 24)
('Donna Fuentes', 24)
('Phillip Reeves', 24)
('Brett Wells', 24)
('Keith Johnson', 24)
('Julie Gibson', 24)
('Mr. Kent Evans', 23)
('Krystal Chaney', 23)
('Michele Anderson', 23)
('Joe Schultz', 23)
('Justin Rojas', 23)
('Jason Knox', 23)
('Tiffany Conner', 23)
('Kathryn Gilbert', 23)
('Mrs. Shelby Arroyo', 22)
('Stephanie Woods', 22)
('Ms. Samantha Lawson', 22)
('Stephen Whitney', 22)
('Kathleen Rowe', 22)
('Kari Jones', 22)
('Sarah Miller', 22)
('Danielle Montes', 22)
('Ronnie Evans', 21)
('Chelsea Booth', 21)
('Matthew Murphy', 21)
('Joseph Drake', 21)
('Sharon Bennett DVM', 21)
('Deborah Wagner', 21)
('Jennifer Jacobson', 21)
('Michelle King', 21)
('Christopher Gentry', 21)
('Willie Murphy', 21)
('Heidi Adkins', 21)
('Scott French', 21)
('Linda Watson', 21)
('Melissa Reed', 21)
('Timothy Odom', 21)
('Kelly Jenkins', 21)
('Kayla Hanson', 21)
('Elizabeth Barnes', 21)
('Jacqueline Burke', 21)
('Christopher Raymond', 21)
('Kari Lucas', 21)
('Samantha Pearson', 21)
('Mrs. Jill Smith', 21)
('Caitlin Cook', 21)
('David Miranda', 21)
('Todd Zamora', 21)
('Megan Frye', 21)
('Sara Roth', 21)
('Nicole Wagner', 21)
('Connie Rodriguez', 21)
('Ruth Smith', 21)
('Howard Wheeler', 21)
('Patricia Hawkins', 21)
('Vanessa Phillips', 20)
('Gabriel Williams', 20)
('Erica Rogers', 20)
('Christina Mendoza', 20)
('Brent Cook', 20)
('Francis Mason', 20)
('Marie Quinn', 20)
('Heather Banks', 20)
('Regina Stevens', 20)
('Ashley Williamson', 20)
('Rhonda Smith', 20)
('David Russell', 20)
('Rebecca Curry MD', 20)
('Paul Willis', 20)
('Denise Rivera', 20)
('Tiffany Gomez', 20)
('Paul Skinner', 20)
('Tina Morris', 20)
('Mr. Kenneth Wallace', 19)
('Angela Warren', 19)
('Christine Garcia', 19)
('Crystal Pruitt', 19)
('Shawn Jones', 19)
('Jamie Campos', 19)
('Leslie Mann', 19)
('Michael Woods', 19)
('Andrew Casey DDS', 19)
('Peter Bolton', 19)
('Seth Stevens', 19)
('Anthony Ross', 19)
('Pamela Weaver', 19)
('Heather Arnold', 19)
('Mr. Jimmy Gonzales MD', 19)
('Lisa Saunders', 19)
('Jeffrey Smith', 19)
('William Jones', 19)
('Susan Williams', 19)
('Jeffrey Anderson', 19)
('Karen Brown', 19)
('Christopher Taylor', 19)
('James Hunter', 19)
('Patricia Wagner', 19)
('Anthony Shea', 19)
('Jay Carrillo', 19)
('Jessica Barnes', 19)
('Natasha Arroyo', 19)
('Brent Malone', 19)
('Kristen Russell', 19)
('Jason Scott', 19)
('Michael Vaughn', 19)
('David Jones', 19)
('Janet Saunders', 19)
('Elizabeth Guerrero', 19)
('Alexandra Holloway', 19)
('Amanda Rice', 19)
('Mrs. Alexis Reed', 19)
('Matthew Willis', 18)
('Carla Robinson', 18)
('Curtis Nash', 18)
('Anthony Walker', 18)
('April Cooper', 18)
('Daniel Butler PhD', 18)
('Leah Moore', 18)
('Emily Lawrence', 18)
('Amy Neal', 18)
('George Bradshaw', 18)
('Mark Hoffman', 18)
('Christopher Lee', 18)
('Lauren Jones', 18)
('Andrew Moss', 18)
('Kelly Kennedy', 18)
('Brian Huynh', 18)
('Jamie Johnson', 18)
('Lauren Fisher', 18)
('Maria Evans', 18)
('Erin Perez', 18)
('Kenneth Hardy', 18)
('Jeffrey Ray', 18)
('Samantha Richardson', 18)
('Tyler Buchanan', 18)
('Brendan Williams', 18)
('Timothy Griffith', 18)
('Sara Hunt', 18)
('Heather Austin', 18)
('Erica Brooks', 18)
('Anthony Ross', 18)
('Melvin Thomas', 18)
('Crystal Mckenzie', 18)
('Alejandro Martin', 18)
('Mr. Benjamin Houston MD', 18)
('Elizabeth Stewart', 18)
('Sharon Thompson', 18)
('Catherine Aguilar', 18)
('Robert Carter', 17)
('Jordan Phillips', 17)
('Megan Williams', 17)
('Todd Owens', 17)
('Lisa Garcia', 17)
('Randy Vega', 17)
('Kelly Parks', 17)
('Melissa Martin', 17)
('Jennifer Hodges', 17)
('Cheryl Johnson', 17)
('Scott Hall', 17)
('Ronald Shepherd', 17)
('Carlos Bryant', 17)
('Steven Hanson', 17)
('Kendra Hernandez', 17)
('Erica Morrison', 17)
('Jennifer Bradshaw', 17)
('Frederick Barrera', 17)
('Stacy Owens', 17)
('Anna Ritter', 17)
('Brittany Bailey', 17)
('Michael Carter', 17)
('Ann Phelps', 17)
('Christopher Burton', 17)
('Maria Lutz', 17)
('Alvin Compton', 17)
('Jamie Bryant', 17)
('Katelyn Cantrell', 17)
('Jessica Jacobson', 17)
('Cameron Vazquez', 17)
('Joseph Walton Jr.', 17)
('Paul Cook', 17)
('Nathan Parker', 17)
('Rachel Garcia', 17)
('Michelle Phillips', 17)
('Nicole Park MD', 17)
('Corey Thompson', 17)
('Julie Farmer', 17)
('Pamela Harrison', 17)
('Terri Caldwell', 17)
('Sarah Cruz', 17)
('Erin Cox', 17)
('Savannah Wiley', 17)
('Andrea Lewis', 17)
('Kristen Henderson', 17)
('Kimberly Young', 17)
('Tanya Mcgee', 17)
('Cynthia Blevins', 16)
('Kelly Payne', 16)
('Brittney Oconnor', 16)
('Debra West', 16)
('Joshua Torres', 16)
('Jordan Carlson', 16)
('Alvin Perry', 16)
('Luke Hernandez', 16)
('Samuel Johnson', 16)
('Jeffrey Henson', 16)
('Jerome Silva', 16)
('Stacy Thornton', 16)
('Audrey Peck', 16)
('Joshua Rodriguez', 16)
('Andrew Patton', 16)
('Michael Novak', 16)
('Randall Anderson', 16)
('Anthony Washington', 16)
('Crystal Larson', 16)
('John Novak', 16)
('Dean Lowe', 16)
('Cathy Hill', 16)
('Richard Wilson', 16)
('Ann Crosby', 16)
('Justin Shaw', 16)
('Jennifer Cox', 16)
('James Martin', 16)
('John Keller', 16)
('Aimee Stokes', 16)
('Michelle Zuniga', 16)
('Thomas Hernandez', 16)
('Michael Berry', 16)
('Kurt Christian', 16)
('Sara Elliott', 16)
('Christopher Smith', 16)
('Arthur Jacobs', 16)
('Joseph Walker', 16)
('Ana Cochran', 16)
('Brandon Curtis', 16)
('Vanessa Reese', 16)
('Anna Stewart', 16)
('Jessica Clarke', 16)
('Alice Young', 16)
('Cameron Allen', 16)
('Kendra Hall', 16)
('Amanda Carter', 16)
('Jo Rich', 16)
('Kevin Ross', 15)
('Anthony Maldonado', 15)
('Jasmine Cobb', 15)
('Victoria Holder', 15)
('Jennifer Smith', 15)
('Denise Evans', 15)
('Mike Miller', 15)
('Karl Reynolds', 15)
('Rachael Moore', 15)
('Nancy Coleman', 15)
('Amanda David', 15)
('Anna Davis', 15)
('Krista Foster', 15)
('Jessica Wagner', 15)
('Victor Olsen', 15)
('John Smith', 15)
('Karen Campos', 15)
('Mrs. Amy Sanders MD', 15)
('Tyler Harvey', 15)
('Victoria Callahan', 15)
('Christine Roberts', 15)
('Stefanie Houston', 15)
('Roberto Anderson', 15)
('Dana Lee', 15)
('Suzanne Dixon', 15)
('Elijah Hall', 15)
('Christine Williams', 15)
('Patrick Clark', 15)
('Michael Ford', 15)
('Stephanie Adams', 15)
('Rebecca Pratt', 15)
('Joseph Jordan', 15)
('Lori Bautista', 15)
('Rebecca Gomez', 15)
('Christina Carpenter', 15)
('Stephanie Smith', 15)
('Greg Gomez', 15)
('Kimberly Wood', 15)
('Andrew Robinson', 15)
('Daniel Washington', 15)
('Scott Guerrero', 15)
('Ryan Ramos', 15)
('Christopher Reynolds', 15)
('Ryan Jackson', 15)
('Megan Alvarez', 15)
('Crystal Rowe', 15)
('Andrea Juarez', 15)
('David Williams', 15)
('Deborah Roberts', 14)
('Danny Russell', 14)
('Juan Collier', 14)
('Candice Le', 14)
('Sheila Padilla', 14)
('Christopher Velazquez', 14)
('Tara Ellis', 14)
('Misty Hill', 14)
('Laura Hicks', 14)
('Robert Blevins', 14)
('Chad Murphy', 14)
('Kimberly Adams', 14)
('Carl Sanchez', 14)
('Sarah Vazquez', 14)
('Alicia Cohen MD', 14)
('Sean Camacho', 14)
('Carol Bennett', 14)
('Sabrina Villanueva', 14)
('Patricia Scott', 14)
('Michael Mcgee', 14)
('Heidi Brock', 14)
('Victoria Flores', 14)
('Garrett Henry', 14)
('Rachel Jackson', 14)
('Courtney Gonzales', 14)
('Deborah Moses', 14)
('Kevin Tate', 14)
('Adam Jones', 14)
('Christopher Irwin', 14)
('Jordan Hayes', 14)
('Renee Cruz', 14)
('Joseph Figueroa', 14)
('Aaron Murphy', 14)
('Megan Frost', 14)
('John Cook', 14)
('Theresa Lewis', 14)
('Christopher Rose', 14)
('Kyle Cole', 14)
('Mrs. Monica Madden', 14)
('Andrew Reynolds', 14)
('Eric Hayes', 14)
('Dakota Dyer', 14)
('Frederick Green', 14)
('Mark Cooper', 14)
('Chelsea Schmidt', 14)
('Alex Beard', 14)
('Michael Davis', 14)
('Cynthia Patton', 13)
('Denise Campbell', 13)
('Christopher Johnson', 13)
('Paul Garcia', 13)
('Timothy Berry', 13)
('Lisa Russell', 13)
('Brett Miller', 13)
('Michael Humphrey', 13)
('Kelli Romero', 13)
('Melody Mercado', 13)
('Bryan Garcia', 13)
('Terri Nichols', 13)
('Ernest Brown', 13)
('Dr. Raymond Myers', 13)
('Shannon Adams', 13)
('Linda Miller', 13)
('Michael Becker Jr.', 13)
('Gloria Abbott', 13)
('Catherine Deleon', 13)
('Christopher Young', 13)
('Christina Mason', 13)
('Melissa Dudley', 13)
('Jason Johnson', 13)
('Kathryn Bautista', 13)
('Kimberly Sanchez', 13)
('Ashley Smith', 13)
('Melissa Villanueva', 13)
('Christy Phelps', 13)
('Rachel Martinez', 13)
('Martin Adams', 13)
('John Neal', 13)
('Janet Jackson', 13)
('Stephen Berry', 13)
('Stephanie Jones', 13)
('Evan Duarte', 13)
('Tracy Hayes', 13)
('Ashley Buck', 13)
('Daniel Perry', 13)
('Matthew Tate', 13)
('Mark West', 13)
('Rebecca Jones', 13)
('Randall Martin', 13)
('Michael Matthews', 13)
('Ian Montgomery', 13)
('Melissa Prince', 13)
('Kaylee Conley', 13)
('Dr. Christina Bowen', 13)
('David Larsen', 13)
('Eric Roberts', 13)
('Andrea Austin', 13)
('Barbara Richmond', 13)
('Ashley Becker', 12)
('Robert Valencia', 12)
('Meredith Jones', 12)
('Brandi Shaw', 12)
('Lauren Newton', 12)
('Danielle Ellis', 12)
('Kimberly Watson', 12)
('Michael Hughes', 12)
('Nicole Logan', 12)
('Jackson Shaffer', 12)
('Christopher Mckinney', 12)
('Manuel Martinez', 12)
('Nicole Rodriguez', 12)
('Tracy Flores', 12)
('Bethany Klein', 12)
('Katherine Hunt', 12)
('Gabriel Garner', 12)
('Patricia Saunders', 12)
('Dorothy Lowery', 12)
('Virginia Ayala', 12)
('John Gomez', 12)
('Jesus Davenport', 12)
('Jennifer Murphy', 12)
('Patrick Stark', 12)
('Jacob Williams', 12)
('Christopher Carroll', 12)
('Mr. Caleb Wagner', 12)
('Mary Phillips', 12)
('Austin Phillips', 12)
('Heather Clark', 12)
('Gabriel Snyder', 12)
('Joseph Crawford', 12)
('Amy Nguyen', 12)
('Desiree Herrera', 12)
('George Wu', 12)
('Jasmine Morris', 12)
('Mark Williams', 12)
('Michele Murphy', 12)
('Dylan Russell', 11)
('Edward Wallace', 11)
('Vanessa Garcia', 11)
('Kayla Morgan', 11)
('Emily Brooks', 11)
('Kevin Murphy', 11)
('Gregory Santos', 11)
('George Yates', 11)
('Douglas Anderson', 11)
('Connor Holloway', 11)
('Jacob Gray', 11)
('Alejandra Smith', 11)
('Brian Elliott', 11)
('Richard Watson', 11)
('Bridget Skinner', 11)
('Ms. Nicole Sawyer', 11)
('Ruth Thomas', 11)
('Donald Phillips', 11)
('Joshua Coleman', 11)
('Courtney Stuart', 11)
('Nicholas Stewart', 11)
('James Buchanan', 11)
('Michael Baker', 10)
('Carolyn Higgins', 10)
('Scott Munoz', 10)
('Mary Robertson', 10)
('Thomas Skinner', 10)
('Rodney Cruz', 10)
('Martha Martinez', 10)
('Julie Weeks', 10)
('Jeffery Lewis', 10)
('Luke Bright', 10)
('Reginald Hodges', 10)
('Rodney Anthony', 10)
('Amber Williams', 10)
('Amanda Armstrong', 10)
('Cindy Velazquez', 10)
('Marie Gutierrez', 10)
('Elizabeth Andrews', 10)
('William Lester', 10)
('Rebecca Valdez', 9)
('Ryan Calhoun', 9)
('Sabrina Bennett', 9)
('Abigail Doyle', 9)
('John Thompson', 9)
('Michelle Sanchez', 9)
('Elizabeth Robinson', 9)
('Travis Gonzalez', 9)
('Natalie Butler', 9)
('Alicia Campbell', 9)
('Holly Parker', 9)
('Damon Munoz', 9)
('Patricia Valdez', 8)
('Jim Marshall', 8)
('Jordan Johnson', 8)
('Sherry Cole', 8)
('John Vincent', 8)
('James Davenport', 8)
('Alicia Clark', 7)

In [74]:
#Q9: What is the average loan amount and interest rate by loan type (Personal,
#Auto, Home, etc.)?
cursor.execute("USE banksight")
cursor.execute("""
select l.Loan_Type,AVG(l.Loan_Amount),AVG(l.Interest_Rate)
FROM loans l
GROUP BY l.Loan_Type
ORDER BY l.Loan_Type;
""")
results=cursor.fetchall()
for row in results:
	print(row)

('Auto', Decimal('2399260.9813'), Decimal('10.532523'))
('Business', Decimal('2793968.8738'), Decimal('10.625437'))
('Education', Decimal('2393947.7009'), Decimal('10.114393'))
('Home', Decimal('2344576.6612'), Decimal('10.872479'))
('Personal', Decimal('2461543.7478'), Decimal('10.463391'))

In [79]:
#Q10: Which customers currently hold more than one active or approved loan?
cursor.execute("USE banksight")
cursor.execute("""
select l.Customer_ID, COUNT(l.Customer_ID) AS Active_Approved_Loan_Count
FROM loans l
WHERE l.Loan_Status IN ("Approved","Active")
GROUP BY l.Customer_ID
HAVING COUNT(l.Customer_ID) > 1
""")
results=cursor.fetchall()
for row in results:
	print(row)

(1411, 3)
(1383, 3)
(1073, 2)
(1059, 2)
(1430, 2)
(1292, 3)
(1216, 2)
(1359, 2)
(1231, 4)
(1155, 2)
(1020, 2)
(1249, 3)
(1088, 3)
(1462, 2)
(1146, 2)
(1531, 2)
(1565, 2)
(1481, 2)
(1101, 2)
(1180, 3)
(1317, 2)
(1378, 2)
(1551, 2)
(1460, 2)
(1470, 3)
(1455, 3)
(1126, 2)
(1580, 2)
(1488, 3)
(1549, 2)
(1408, 2)
(1325, 3)
(1528, 2)
(1587, 2)
(1405, 2)
(1308, 2)
(1386, 2)
(1209, 2)
(1275, 2)
(1236, 2)
(1363, 2)
(1108, 2)
(1502, 3)
(1010, 4)
(1284, 2)
(1162, 2)
(1123, 2)
(1382, 3)
(1263, 2)
(1420, 2)
(1132, 2)
(1364, 2)
(1005, 2)
(1270, 2)
(1495, 2)
(1255, 2)

In [90]:
#Q11: Who are the top 5 customers with the highest outstanding (non-closed)
#loan amounts?
cursor.execute("USE banksight")
cursor.execute("""
select l.Customer_ID, SUM(l.Loan_Amount) AS Active_Approved_Loan_Amount
FROM loans l
WHERE l.Loan_Status IN ("Approved","Active")
GROUP BY l.Customer_ID
ORDER BY Active_Approved_Loan_Amount DESC
LIMIT 5;
""")
results=cursor.fetchall()
for row in results:
	print(row)

(1455, Decimal('13702602'))
(1383, Decimal('13279523'))
(1088, Decimal('11960853'))
(1010, Decimal('10912693'))
(1236, Decimal('9151318'))

In [91]:
#Q12: What is the average loan amount per branch?
cursor.execute("USE banksight")
cursor.execute("""
select l.Branch, AVG(l.Loan_Amount) AS Average_Loan_Amount
FROM loans l
GROUP BY l.Branch
ORDER BY l.Branch;

""")
results=cursor.fetchall()
for row in results:
	print(row)

('Acosta, Murphy and Rojas Branch', Decimal('1525891.0000'))
('Adams LLC Branch', Decimal('4362487.0000'))
('Adams, Mitchell and Schneider Branch', Decimal('899686.0000'))
('Aguirre-Bowman Branch', Decimal('3045520.0000'))
('Allen-Guzman Branch', Decimal('4339134.0000'))
('Allen, Martin and Mosley Branch', Decimal('2486493.0000'))
('Anderson-Barnes Branch', Decimal('2275202.0000'))
('Anderson-Dunn Branch', Decimal('4473898.0000'))
('Andrews Ltd Branch', Decimal('250573.0000'))
('Andrews-Marquez Branch', Decimal('921987.0000'))
('Austin, Rogers and Ayala Branch', Decimal('2451570.5000'))
('Baldwin and Sons Branch', Decimal('2308172.0000'))
('Barnes PLC Branch', Decimal('4051928.0000'))
('Barton PLC Branch', Decimal('1514849.5000'))
('Beasley-Kirk Branch', Decimal('4022163.0000'))
('Beck, Howe and Perry Branch', Decimal('4667891.0000'))
('Bell PLC Branch', Decimal('3777178.0000'))
('Bell, Parker and Owen Branch', Decimal('3329837.5000'))
('Beltran-Nelson Branch', Decimal('2722023.0000'))
('Bennett and Sons Branch', Decimal('1916287.7500'))
('Berry-Cabrera Branch', Decimal('2197137.0000'))
('Berry, Kelley and Hughes Branch', Decimal('2095370.0000'))
('Bird, Weber and Cain Branch', Decimal('3048596.6667'))
('Black Group Branch', Decimal('3018829.6667'))
('Black Inc Branch', Decimal('157126.0000'))
('Booth, Jones and Burke Branch', Decimal('2117952.0000'))
('Bright Group Branch', Decimal('3442603.6667'))
('Bright Inc Branch', Decimal('2050737.1667'))
('Brooks Group Branch', Decimal('569034.0000'))
('Brooks-Valencia Branch', Decimal('2380081.5000'))
('Brooks, Jackson and Hicks Branch', Decimal('1106326.0000'))
('Brown Group Branch', Decimal('4533077.0000'))
('Brown LLC Branch', Decimal('2832768.0000'))
('Brown PLC Branch', Decimal('1508357.0000'))
('Brown-Roberts Branch', Decimal('1802105.0000'))
('Bruce-Kidd Branch', Decimal('1159912.0000'))
('Bullock-Martinez Branch', Decimal('3594827.5000'))
('Burke-Barr Branch', Decimal('3170674.0000'))
('Burke-Moreno Branch', Decimal('4864325.0000'))
('Burns, Patterson and White Branch', Decimal('1736291.3333'))
('Butler, Sullivan and Torres Branch', Decimal('2421265.0000'))
('Byrd Ltd Branch', Decimal('4303593.0000'))
('Camacho, Brown and Terry Branch', Decimal('3682467.0000'))
('Carroll-Robinson Branch', Decimal('1301142.0000'))
('Chambers-Marquez Branch', Decimal('4498929.0000'))
('Chambers, Lindsey and Ramos Branch', Decimal('1828653.0000'))
('Chang-Lucas Branch', Decimal('2138844.0000'))
('Chapman PLC Branch', Decimal('1147394.0000'))
('Chapman-Goodman Branch', Decimal('3405098.0000'))
('Chavez and Sons Branch', Decimal('2446861.0000'))
('Chen Ltd Branch', Decimal('630144.0000'))
('Chen-Ramos Branch', Decimal('3957692.0000'))
('Choi PLC Branch', Decimal('977254.0000'))
('Choi, Hebert and Bush Branch', Decimal('966615.0000'))
('Chung-Black Branch', Decimal('4077591.5000'))
('Clark and Sons Branch', Decimal('3881346.0000'))
('Clark Inc Branch', Decimal('1645021.0000'))
('Clark-Smith Branch', Decimal('4345222.5000'))
('Clark, Kaiser and Ray Branch', Decimal('3508946.0000'))
('Coffey, Curtis and Garrison Branch', Decimal('467438.0000'))
('Compton, Patterson and Sanchez Branch', Decimal('2967305.0000'))
('Cook PLC Branch', Decimal('817729.0000'))
('Cortez-Brown Branch', Decimal('3052465.0000'))
('Crawford-Torres Branch', Decimal('4677616.3333'))
('Cruz, Jones and Sweeney Branch', Decimal('2580410.8000'))
('Cunningham Inc Branch', Decimal('1400183.0000'))
('Cunningham, Lee and Fleming Branch', Decimal('3727278.3333'))
('Daniel-Dunn Branch', Decimal('1515504.0000'))
('Daniels-Arellano Branch', Decimal('1025091.0000'))
('Davis-Hancock Branch', Decimal('3692336.0000'))
('Davis-Long Branch', Decimal('2853498.5000'))
('Delgado Ltd Branch', Decimal('1955469.0000'))
('Douglas and Sons Branch', Decimal('3157732.0000'))
('Duke-Keller Branch', Decimal('973473.0000'))
('Duncan Group Branch', Decimal('1133688.0000'))
('Edwards PLC Branch', Decimal('2834386.0000'))
('Edwards, Dixon and Lopez Branch', Decimal('1621956.0000'))
('Edwards, Dunlap and Fernandez Branch', Decimal('3356100.0000'))
('Elliott-Dennis Branch', Decimal('1962013.5000'))
('Evans Ltd Branch', Decimal('2439442.0000'))
('Evans-Baker Branch', Decimal('2213307.0000'))
('Evans-Mercado Branch', Decimal('3083614.0000'))
('Fitzgerald, Day and Goodwin Branch', Decimal('3882990.0000'))
('Fleming-Washington Branch', Decimal('535911.0000'))
('Flores Ltd Branch', Decimal('4394944.0000'))
('Flores PLC Branch', Decimal('972732.0000'))
('Flores, French and Freeman Branch', Decimal('1809197.0000'))
('Francis, Page and Morales Branch', Decimal('3870983.6667'))
('Frazier and Sons Branch', Decimal('1808601.0000'))
('Friedman-Martin Branch', Decimal('3722182.0000'))
('Garcia Group Branch', Decimal('1997583.3333'))
('Garcia Inc Branch', Decimal('3319172.0000'))
('Garcia-Kane Branch', Decimal('59655.0000'))
('Garcia-Watkins Branch', Decimal('2792605.0000'))
('Garcia, Bradford and Thomas Branch', Decimal('3446311.5000'))
('Garrett-Rubio Branch', Decimal('2493205.5000'))
('Gibson LLC Branch', Decimal('3856040.0000'))
('Glenn, Villa and Perry Branch', Decimal('3053839.0000'))
('Gonzales-Klein Branch', Decimal('2132312.0000'))
('Gonzales, Diaz and Green Branch', Decimal('2256975.0000'))
('Gordon LLC Branch', Decimal('3662862.0000'))
('Graham PLC Branch', Decimal('3250801.5000'))
('Grant, Walters and Jordan Branch', Decimal('279434.0000'))
('Gray Ltd Branch', Decimal('2289485.0000'))
('Green-Keith Branch', Decimal('4419925.0000'))
('Green-Noble Branch', Decimal('1091538.0000'))
('Griffin, White and Miller Branch', Decimal('2522100.3333'))
('Gutierrez PLC Branch', Decimal('2625599.0000'))
('Gutierrez, Richards and Pace Branch', Decimal('2163893.0000'))
('Hall PLC Branch', Decimal('3163775.5000'))
('Hanson-Carter Branch', Decimal('4608951.0000'))
('Hardin-Rodriguez Branch', Decimal('2333919.0000'))
('Harris Ltd Branch', Decimal('3601790.0000'))
('Harris-Marshall Branch', Decimal('3433957.5000'))
('Harris, Robles and Rogers Branch', Decimal('4388779.0000'))
('Hartman and Sons Branch', Decimal('2051835.0000'))
('Hartman-Vargas Branch', Decimal('4101076.0000'))
('Hebert Group Branch', Decimal('1858495.0000'))
('Henderson Inc Branch', Decimal('2962632.0000'))
('Hernandez, Stewart and Lee Branch', Decimal('2666887.0000'))
('Herrera LLC Branch', Decimal('3156951.0000'))
('Herrera, Rollins and Hill Branch', Decimal('4168372.0000'))
('Hess-Miller Branch', Decimal('1776396.0000'))
('Higgins, Michael and Harris Branch', Decimal('1370742.0000'))
('Hill, Ramos and Brennan Branch', Decimal('1044669.5000'))
('Ho Inc Branch', Decimal('1609720.0000'))
('Hodges LLC Branch', Decimal('3500102.0000'))
('Holmes, Harrell and Woods Branch', Decimal('1838574.5000'))
('Holmes, Nguyen and French Branch', Decimal('2271076.5000'))
('Hopkins-Johnston Branch', Decimal('2500517.3333'))
('Horne, Gomez and Zavala Branch', Decimal('2188170.0000'))
('Horton-Jimenez Branch', Decimal('943092.0000'))
('Huff, Bryant and Thomas Branch', Decimal('3307978.0000'))
('Humphrey, Mitchell and Buck Branch', Decimal('505293.0000'))
('Hurley-Reynolds Branch', Decimal('3541813.0000'))
('Hutchinson Group Branch', Decimal('257246.0000'))
('Huynh-Jones Branch', Decimal('3268792.0000'))
('Jackson, Sanders and Webb Branch', Decimal('2268991.0000'))
('James Group Branch', Decimal('2097034.5000'))
('James-Collier Branch', Decimal('418262.0000'))
('Jarvis-Williams Branch', Decimal('3258992.0000'))
('Johnson Group Branch', Decimal('2926835.2000'))
('Johnson LLC Branch', Decimal('4299774.0000'))
('Johnson-Hunter Branch', Decimal('93465.0000'))
('Johnson-Wilson Branch', Decimal('770202.0000'))
('Johnson-Wright Branch', Decimal('788364.0000'))
('Johnson, Arias and Kramer Branch', Decimal('4995813.0000'))
('Jones LLC Branch', Decimal('4168867.0000'))
('Jones-Baker Branch', Decimal('1570523.0000'))
('Jones, Wilson and Myers Branch', Decimal('1459531.5000'))
('Jordan, Stokes and Mayer Branch', Decimal('1074749.0000'))
('Keller PLC Branch', Decimal('3323226.5000'))
('King LLC Branch', Decimal('2345195.6667'))
('King, Cain and Brown Branch', Decimal('3665919.0000'))
('Lee-Brown Branch', Decimal('4182772.0000'))
('Lee-Reyes Branch', Decimal('2938615.0000'))
('Lee, Escobar and Torres Branch', Decimal('206282.0000'))
('Lewis LLC Branch', Decimal('4677758.0000'))
('Lewis-Travis Branch', Decimal('3544422.0000'))
('Lin Inc Branch', Decimal('2481325.0000'))
('Liu, Medina and Garza Branch', Decimal('2874542.6667'))
('Lopez Ltd Branch', Decimal('1335488.0000'))
('Lopez, Santana and Johnson Branch', Decimal('4987450.0000'))
('Lopez, Tucker and Collins Branch', Decimal('3251254.0000'))
('Lozano-Wilson Branch', Decimal('3486409.0000'))
('Lynch Ltd Branch', Decimal('2573839.5000'))
('Lyons-Hart Branch', Decimal('4324216.0000'))
('Maldonado Ltd Branch', Decimal('3467774.5000'))
('Marshall-Carey Branch', Decimal('2790809.0000'))
('Martin and Sons Branch', Decimal('3379424.0000'))
('Martin LLC Branch', Decimal('1256723.0000'))
('Martin Ltd Branch', Decimal('1146945.0000'))
('Martin-Hardy Branch', Decimal('1634954.5000'))
('Martin, Flores and Miller Branch', Decimal('2491077.0000'))
('Martinez-Bell Branch', Decimal('1096078.0000'))
('Martinez-Lee Branch', Decimal('2443487.0000'))
('Mason Group Branch', Decimal('3864263.0000'))
('Mason, Kelly and Marquez Branch', Decimal('2703594.0000'))
('Massey-Reed Branch', Decimal('674691.0000'))
('Mathews, Rodriguez and Lambert Branch', Decimal('3080753.5000'))
('Matthews Group Branch', Decimal('2431310.5000'))
('Mcbride, Leonard and Brown Branch', Decimal('3102820.0000'))
('Mcclain Inc Branch', Decimal('4606842.0000'))
('Mcgee and Sons Branch', Decimal('2202215.5000'))
('Mckee-Moore Branch', Decimal('484423.0000'))
('Mckinney-Ramirez Branch', Decimal('208858.0000'))
('Meadows, Taylor and Butler Branch', Decimal('2249369.0000'))
('Mercado-Adkins Branch', Decimal('1416862.3333'))
('Merritt PLC Branch', Decimal('1449041.0000'))
('Miller and Sons Branch', Decimal('3161546.6667'))
('Miller Inc Branch', Decimal('2140610.5000'))
('Miller-Nelson Branch', Decimal('3310224.0000'))
('Miller, Baker and Owen Branch', Decimal('2894505.6667'))
('Miller, Hill and Leonard Branch', Decimal('1428656.0000'))
('Molina-Potts Branch', Decimal('345807.5000'))
('Moore-Schaefer Branch', Decimal('1267706.0000'))
('Moore-Soto Branch', Decimal('2606236.5000'))
('Moore, Brown and Brown Branch', Decimal('4731455.0000'))
('Morales Group Branch', Decimal('1402631.0000'))
('Moreno PLC Branch', Decimal('1637446.5000'))
('Morris Ltd Branch', Decimal('1441861.0000'))
('Morris PLC Branch', Decimal('1214277.0000'))
('Morrison, Morrison and Camacho Branch', Decimal('722960.0000'))
('Morse, Foley and Johnson Branch', Decimal('1971918.6667'))
('Mullen-Obrien Branch', Decimal('2739106.0000'))
('Murphy-Johnston Branch', Decimal('1722807.0000'))
('Murray LLC Branch', Decimal('3050105.5000'))
('Myers-Hall Branch', Decimal('743491.0000'))
('Nelson, Hardy and Fox Branch', Decimal('4779920.0000'))
('Nelson, Randall and Thornton Branch', Decimal('2446348.5000'))
('Newman-Peterson Branch', Decimal('2386799.0000'))
('Nguyen Inc Branch', Decimal('1563778.0000'))
('Nguyen LLC Branch', Decimal('1061613.0000'))
('Nguyen, Skinner and Le Branch', Decimal('2570972.5000'))
('Olsen and Sons Branch', Decimal('1644942.0000'))
('Oneal-White Branch', Decimal('4180736.0000'))
('Orozco PLC Branch', Decimal('2895937.3333'))
('Ortiz, Peck and Meza Branch', Decimal('4720090.0000'))
('Owen-Miller Branch', Decimal('896382.0000'))
('Parrish, Hall and Adams Branch', Decimal('2268961.0000'))
('Patterson, Deleon and Webb Branch', Decimal('450214.0000'))
('Patton, Maddox and Jackson Branch', Decimal('1955291.0000'))
('Pearson-Roberts Branch', Decimal('2723322.0000'))
('Peck LLC Branch', Decimal('2161410.0000'))
('Perez and Sons Branch', Decimal('1742693.0000'))
('Perez Ltd Branch', Decimal('1851046.0000'))
('Perez-Griffin Branch', Decimal('2754331.0000'))
('Peters PLC Branch', Decimal('2144444.0000'))
('Peters, Mercer and Floyd Branch', Decimal('799579.0000'))
('Peterson-Bishop Branch', Decimal('4289835.0000'))
('Peterson-Graves Branch', Decimal('3147757.0000'))
('Phillips, Hamilton and Campos Branch', Decimal('4134450.0000'))
('Potts, Gutierrez and Hancock Branch', Decimal('1306309.5000'))
('Powell-Schwartz Branch', Decimal('4074908.0000'))
('Powell, Jones and Hamilton Branch', Decimal('2890632.0000'))
('Powell, Palmer and Martin Branch', Decimal('1433143.0000'))
('Powers, Thomas and Webb Branch', Decimal('4339966.5000'))
('Pratt, Perkins and Garcia Branch', Decimal('2449196.0000'))
('Ramirez-Brown Branch', Decimal('2925476.0000'))
('Ramirez-Cochran Branch', Decimal('254895.0000'))
('Ramirez, Jackson and Flores Branch', Decimal('3271044.0000'))
('Ramirez, Ray and Harvey Branch', Decimal('3092431.0000'))
('Ramsey-Carr Branch', Decimal('2598637.0000'))
('Reyes, Campbell and Walton Branch', Decimal('3485014.0000'))
('Richard-Lowe Branch', Decimal('3110917.0000'))
('Richards-Morgan Branch', Decimal('2487429.5000'))
('Richardson and Sons Branch', Decimal('1371452.0000'))
('Richardson-Morales Branch', Decimal('1772692.5000'))
('Roberts-Silva Branch', Decimal('457576.0000'))
('Roberts, Murphy and Lewis Branch', Decimal('2072340.0000'))
('Robertson and Sons Branch', Decimal('2372918.3333'))
('Robinson-Stokes Branch', Decimal('2384185.0000'))
('Robinson-Sweeney Branch', Decimal('4167173.0000'))
('Rodriguez LLC Branch', Decimal('623954.0000'))
('Rodriguez, Cabrera and Alvarez Branch', Decimal('1596554.0000'))
('Rogers Group Branch', Decimal('4890404.0000'))
('Rogers-Quinn Branch', Decimal('3473524.0000'))
('Rosales-Anderson Branch', Decimal('4093953.5000'))
('Rose-Macias Branch', Decimal('2940814.5000'))
('Ross, Hayes and Erickson Branch', Decimal('3692011.0000'))
('Russell LLC Branch', Decimal('3688235.0000'))
('Russell-Patel Branch', Decimal('131137.0000'))
('Ryan, Williams and Bowen Branch', Decimal('2885941.0000'))
('Salazar Group Branch', Decimal('1042625.0000'))
('Sanchez-Montes Branch', Decimal('532034.0000'))
('Sanchez, Brennan and Ortega Branch', Decimal('1573402.0000'))
('Santiago and Sons Branch', Decimal('1037850.0000'))
('Schroeder, Lane and Arnold Branch', Decimal('3076591.0000'))
('Scott LLC Branch', Decimal('3759689.0000'))
('Scott-Olson Branch', Decimal('774654.0000'))
('Sellers-Cunningham Branch', Decimal('1540996.0000'))
('Shepard Ltd Branch', Decimal('3764212.0000'))
('Shepherd-Rodriguez Branch', Decimal('2239350.0000'))
('Simmons and Sons Branch', Decimal('3027042.0000'))
('Simmons-Cole Branch', Decimal('453890.0000'))
('Simmons-Gardner Branch', Decimal('4641173.0000'))
('Simpson-Boyle Branch', Decimal('334267.0000'))
('Sloan, Williams and Adkins Branch', Decimal('1634933.5000'))
('Smith and Sons Branch', Decimal('2945109.0000'))
('Smith Inc Branch', Decimal('2881584.3333'))
('Smith LLC Branch', Decimal('3543921.0000'))
('Smith Ltd Branch', Decimal('2364616.3333'))
('Smith PLC Branch', Decimal('3655312.0000'))
('Smith-Jacobson Branch', Decimal('2141415.0000'))
('Smith-Pineda Branch', Decimal('1620063.6667'))
('Smith, Mcdonald and Johnson Branch', Decimal('2153168.0000'))
('Smith, Reed and Huang Branch', Decimal('1709427.0000'))
('Smith, Stewart and Howell Branch', Decimal('3536487.0000'))
('Solis, Ibarra and Gamble Branch', Decimal('4447579.0000'))
('Solis, Simpson and Martin Branch', Decimal('2752069.0000'))
('Solomon, Williams and White Branch', Decimal('3379793.0000'))
('Stafford, Oneal and Williams Branch', Decimal('1796513.0000'))
('Steele-Phillips Branch', Decimal('2425479.0000'))
('Steele, Marsh and Richardson Branch', Decimal('2014027.6667'))
('Stevens-Braun Branch', Decimal('1697564.0000'))
('Stewart-Jones Branch', Decimal('721631.0000'))
('Stewart, Wilson and Dalton Branch', Decimal('2296355.0000'))
('Stone-Miller Branch', Decimal('1441196.0000'))
('Stout, Baker and Bowman Branch', Decimal('2908494.0000'))
('Suarez, Rhodes and Bolton Branch', Decimal('1461039.0000'))
('Sullivan and Sons Branch', Decimal('1065483.0000'))
('Sullivan, Bradford and Becker Branch', Decimal('4773699.0000'))
('Sutton-Huang Branch', Decimal('3384197.0000'))
('Tapia-Flynn Branch', Decimal('3688432.5000'))
('Taylor PLC Branch', Decimal('3930805.0000'))
('Taylor, David and Brown Branch', Decimal('4037875.5000'))
('Taylor, Hopkins and Morales Branch', Decimal('1469903.0000'))
('Thomas LLC Branch', Decimal('2354987.5000'))
('Thomas PLC Branch', Decimal('4308246.0000'))
('Thomas-Calhoun Branch', Decimal('2292636.0000'))
('Thompson PLC Branch', Decimal('2361564.6667'))
('Thompson-Griffin Branch', Decimal('1131724.0000'))
('Thompson, Cooper and King Branch', Decimal('370924.0000'))
('Torres-Green Branch', Decimal('4772150.0000'))
('Townsend-Black Branch', Decimal('1341904.0000'))
('Vargas, Vang and Murphy Branch', Decimal('2048308.5000'))
('Vaughn Ltd Branch', Decimal('1633429.5000'))
('Vega-Valentine Branch', Decimal('2752197.0000'))
('Velez LLC Branch', Decimal('2015780.0000'))
('Walker-Murray Branch', Decimal('4177161.0000'))
('Walters-Lee Branch', Decimal('2084942.0000'))
('Wang, Mcdonald and Church Branch', Decimal('353874.0000'))
('Ward and Sons Branch', Decimal('2815592.5000'))
('Warner-Shelton Branch', Decimal('2924808.6000'))
('Warren, Tanner and Combs Branch', Decimal('3534833.0000'))
('Watson Group Branch', Decimal('1878862.0000'))
('Weaver-Clarke Branch', Decimal('4446052.0000'))
('Welch and Sons Branch', Decimal('1076323.0000'))
('Wells-Gutierrez Branch', Decimal('4248264.0000'))
('Wheeler, Henderson and Weeks Branch', Decimal('4289678.0000'))
('Williams, Green and Dunlap Branch', Decimal('4212454.0000'))
('Williams, Johnson and Williams Branch', Decimal('3509396.0000'))
('Williams, Mcfarland and Alvarez Branch', Decimal('4966720.0000'))
('Williamson-Hubbard Branch', Decimal('947718.0000'))
('Wilson PLC Branch', Decimal('1221304.0000'))
('Winters-Rodriguez Branch', Decimal('2612381.0000'))
('Wolf-Harmon Branch', Decimal('2057210.0000'))
('Wong, Turner and Gordon Branch', Decimal('2681028.0000'))
('Wood-Bell Branch', Decimal('1068062.0000'))
('Woods, Patterson and Owens Branch', Decimal('536653.0000'))
('Woodward LLC Branch', Decimal('2109362.0000'))
('Young PLC Branch', Decimal('3002663.0000'))
('Zavala, Ferguson and Williams Branch', Decimal('3475472.0000'))
('Zimmerman PLC Branch', Decimal('4383896.0000'))

In [96]:
#Q13: How many customers exist in each age group (e.g., 18–25, 26–35, etc.)?
cursor.execute("USE banksight")
cursor.execute(""" 
select 
    CASE 
        WHEN age BETWEEN 18 AND 25 THEN '18-25'
        WHEN age BETWEEN 26 AND 35 THEN '26-35'
        WHEN age BETWEEN 36 AND 45 THEN '36-45'
        WHEN age BETWEEN 46 AND 55 THEN '46-55'
        WHEN age BETWEEN 56 AND 65 THEN '56-65'
        ELSE '66+' 
    END AS Age_Group,
    COUNT(*) AS Customer_Count  
FROM customers
GROUP BY Age_Group
ORDER BY Age_Group;
""")
results=cursor.fetchall()
for row in results:
    print(row)

('18-25', 79)
('26-35', 75)
('36-45', 101)
('46-55', 100)
('56-65', 97)
('66+', 48)

In [100]:
#Q14: Which issue categories have the longest average resolution time?
cursor.execute("USE banksight")
cursor.execute("""
select i.issue_category, AVG(DATEDIFF(i.date_Opened,i.date_Closed)) AS Avg_Resolution_Time
FROM support_tickets i
GROUP BY i.issue_category
ORDER BY Avg_Resolution_Time DESC;
""")
results=cursor.fetchall()
for row in results:
    print(row)

('KYC Update Required', Decimal('10761.2500'))
('UPI Payment Failed', Decimal('9772.9032'))
('Interest Rate Dispute', Decimal('9445.6622'))
('Loan Payment Delay', Decimal('9258.8788'))
('Account Access Issue', Decimal('9242.4242'))
('EMI Auto-debit Failed', Decimal('9015.5472'))
('Card Not Working', Decimal('8685.6000'))
('Account Frozen', Decimal('8126.5000'))
('Loan Foreclosure', Decimal('7264.5694'))
('Online Transfer Failed', Decimal('7130.9600'))
('Mismatch in Account Statement', Decimal('7078.0000'))
('Account Closure Request', Decimal('4955.2857'))
('Debit Card Delivery Delay', Decimal('4382.0000'))
('Cheque Bounce', Decimal('1580.8929'))
('Unauthorized Transaction', Decimal('-13.1071'))

In [101]:
#Q15: Which support agents have resolved the most critical tickets with high customer ratings (≥4)?
cursor.execute("USE banksight")
cursor.execute("""
select s.support_agent, COUNT(*) AS Num_Critical_Tickets_Resolved
FROM support_tickets s
WHERE s.priority = 'Critical' AND s.customer_rating >= 4
GROUP BY s.support_agent
ORDER BY Num_Critical_Tickets_Resolved DESC;
""")
results=cursor.fetchall()
for row in results:
    print(row)

('Owen Mahajan', 7)
('Ranveer Roy', 6)
('Wriddhish Sarraf', 6)
('Chanakya Natt', 5)
('Gabriel Mutti', 4)
('Advik Bhagat', 4)
('Gaurika Pillay', 3)
('Wishi Chhabra', 3)
('Veda Samra', 3)
('Chaitaly Vaidya', 3)
('Ria Ghose', 3)
('Vansha Sood', 3)
('Rehaan Balakrishnan', 2)
('Kalpit Ahuja', 2)
('Ikbal Sidhu', 2)
('Harish Anne', 2)
('Kashvi Doctor', 2)
('Udyati Mody', 1)
('Ekanta Devan', 1)
('Falguni Bhandari', 1)
('Aarnav Sangha', 1)
('Ekani Oza', 1)
('Niharika Aggarwal', 1)
('Leena Apte', 1)
('Lavanya Hans', 1)
('Ekapad Jhaveri', 1)
('Wriddhish Mangal', 1)